.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.container {
  max-width: 688px;
  margin: 0 auto;
}

section {
  border-top: 1px solid #dee2e6;
  padding-top: 40px;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
}

@media only screen and (max-width: 728px) {
  .container {
    width: 320px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
