.character_card {
  width: 334px;
  border-radius: 4px;
  border: 1px solid #DEE2E6;
  background: #FFFFFF;
  position: relative;
}

.character-card__photo {
  width: 100%;
  
}
.character_card__photo > img {
  height: 192px;;
  width: 100%;
  object-fit: cover;
  object-position: 90% 10%;
}

.character_card__info {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.character_card__info__name {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #152536;
  margin-bottom: 3px;
}

.character_card__info__subinfo {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #152536;
}
