/* .unlike_button {
  background: url(./empty_like.svg) no-repeat white;
  background-position-y: calc(100% - 12px);
  background-position-x: calc(100% - 12px);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  z-index: 10;
  top: 12px;
  right: 12px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
  
}


.like_button {
  background: url(./like.svg) no-repeat white;
  background-position-y: calc(100% - 12px);
  background-position-x: calc(100% - 12px);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  z-index: 10;
  top: 12px;
  right: 12px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
} */


.like_button {
    border-radius: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  z-index: 10;
  top: 12px;
  right: 12px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
  background: #FFFFFF;
  padding-top: 2px;
}
